.nav-item{
	margin: auto 5px;
}

.nav-item i:hover{
	color: #3490dc;
	transition: 0.2s ease;
	cursor: pointer;
}

.espacamento-bloco{
	margin: 0 0 3% 0!important;
}

.categoria{
	float: left;
	text-align: center;
	width: 22%;
	box-shadow: 0px 0px 10px;
    padding: 1% 1.5% 1% 1.5%;
    margin: 1% 1.5%;
}

.categoria span{
	font-size: 30px;
	padding-top: 4%;
}

.categoria:hover{
	color: #3490dc;
	transition: 0.2s ease;
	cursor: pointer;
}

.espacamento-icon{
	margin: auto 10px;
}

.anuncio{
	float: left;
    box-shadow: 0px 0px 10px;
    padding: 1% 1.5% 1% 1.5%;
    margin: 1.5% 1.5%;
    width: 22%;
    border-radius: 2%;
    font-family: roboto;
    overflow: hidden;
}

.anuncio img{
	width: 100%;
    height: 150px;
	margin-bottom: 3%;
	border-radius: 2%;
}

.anuncio span{
	font-size: 0.85em;
}

.anuncio .btn{
	float: right;
}

.anuncio-detalhado{
	height: 100%;
}

.espacamento{
	margin: 2% 0;
}

.anuncio-detalhado img{
    width: 350px;
    height: 350px;
}

.informacoes{
	text-align: center;
	padding: 0 2%;
}

.bloqueado{
	opacity: 0.75;
    pointer-events: none;
}

/*BREAKPOINTS*/

@media (max-width: 980px){
	.categoria{
		width: 42%;
		margin: 4% 4%;
	}

	.anuncio{
		width: 100%;
		margin: 4% 0;
		padding: 5%;
	}
}

/*###########*/