@font-face {
    font-family: ubuntu-medium-italic;
    src: url("../fontes/ubuntu/Ubuntu-MediumItalic.ttf") format("opentype");
}

@font-face {
    font-family: open-sans-regular;
    src: url("../fontes/open-sans/OpenSans-Regular.ttf") format("opentype");
}


h3, p, li, span{
	font-family: open-sans-regular;
	font-style: italic;
}

h2{
	font-family: ubuntu-medium-italic!important;
}

footer{
	background-color: #002B42;
	padding: 2% 0;
    color: white;
    font-size: 0.9em;
}

body {
    /*transition: background-color .5s;*/
    /*transition: margin-left .5s;*/
    /*padding: 16px;*/
}

body:before { 
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 6px 183px 96px rgba(0,0,0,.9);
}

.montserrat-regular{
	font-family: montserrat-regular;
}

.montserrat-ultralight{
	font-family: montserrat-ultralight;
}

/*menu lateral responsivo*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidenav a {
    padding: 5%;
    text-decoration: none;
    font-size: 16px;
    color: cyan;
    display: block;
    transition: 0.3s;
}

.sidenav .btn {
    width: 50%;
    margin-top: 5%; 
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    /*position: absolute;
    top: 0;*/
    /*right: 25px;*/
    font-size: 30px;
    /*margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*###################*/

.modal-body{
	padding: 0!important;
}

.active-custom{
	color: #336699!important;
	background-color: white;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption{
	text-shadow: 0.1em 0.1em 0.1em #333;
	bottom: 35%!important;
}

.margem-padding-0{
	margin: 0!important;
	padding: 0!important;
}

.nav-link{
	color: white;
	font-family: ubuntu-medium-italic;
}

.nav-link:hover{
	color: #001926;
	background-color: white;
	transition: 0.2s;
}

.link-limpo{
	color: white;
	text-decoration: none;
}
.link-limpo:hover{
	color: white;
	text-decoration: none;
}
.link-limpo:active{
	color: white;
	text-decoration: none;
}
.link-limpo:visited{
	color: white;
	text-decoration: none;
}

#wrapper{
	transition: margin-right .3s;
}

#mainNav {
	height: auto;
	min-width: 100%;
	font-size: 1.3em;
	display: table;
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	table-layout: fixed;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	padding: 2% 4%;
	
}

.margem-titulo{
	padding: 7% 0 5% 0;
}

.margem-direita{
	margin-right: 12%;
}

.espacamento-lateral{
	padding: 0 6%;
}

.margem-dois-lados{
	margin: 0 3%;
}

.icones-redes-sociais{
	width: 50px;
    margin-right: 5px;
}

.espacamento-inferior{
	padding-bottom: 5%;
}

.fonte-grande{
	font-size: 1.5em;
}

.fonte-branca{
	color: white;
}

.linha-branca{
	margin: 0;
	padding: 0;
	border: 2px solid white;
}

.escondido{
	display: none;
}

.botao-slide{
	position: absolute;
	top:120%;
	left: 40%;
	right: 40%;
}

.botao-slide span{
	font-family: ubuntu-medium-italic;
	font-size: 1.2em;
}

#botao-menu-mobile{
	width: 15%;
    -webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#galeria{
	background-color: white;
}

#galeria img:hover{
	opacity: 0.5;
	transition: 0.7s;
	cursor: pointer;
}

#logo{
	font-size: 1.5em;
	color: white;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#servicos{
	background-color: #002B42;
}

#redes-sociais{
	padding: 2% 1%;
}

#mapa{
	
}

#sobre-extra{
	display: none;
	margin-top: 3%;
}

#botao-ver-mais{
	margin: 3% 0;
}

#subirTopo {
	text-decoration: none;
	bottom: 20px;
	right: 20px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	position: fixed;
	border: 0;
	font-family: sans-serif;
	display: none;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
}

#subirTopo img {
	width: 40px;
    padding: 20%;
}

.texto-pequeno{
	font-size: 1.1em;
}

#icone-branco{
	width: 3%;
	margin-right: 2%;
}

#desenvolvedor{
	color: white;
	width: 100%;
	background-color: #001926;
	height: auto;
	padding: 1% 0;
}

#desenvolvedor img{
	width: 20px;
}

@media (min-width: 700px){

	#botao-menu-mobile{
		width: 10%;
	}

}

@media (max-width: 700px){

	.carousel-caption{
		display: none;
	}

}

@media (max-width: 1000px){

	body:before{
		box-shadow: 0px -45px 183px 160px rgba(0,0,0,.9);
	}

	#desenvolvedor{
		padding: 3% 0;
	}

	.texto-pequeno{
		font-size: 0.9em;
	}

	.margem-titulo{
		padding: 14% 0 10% 0;
	}

	.bloco-servico{
		padding: 5% 0;
	}

}

@media (max-width: 500px){

	footer{
		font-size: 0.72em;
	}

	.margem-direita{
		margin-right: 0;
	}

	#galeria img{
		width: 100%;
	}

	#galeria a{
		pointer-events: none;
	}

	.icones-redes-sociais{
		width: 35px;
	}

}

@media only screen and (max-device-width:700px) and (orientation: landscape) {

	.margem-direita{
		margin-right: 0;
	}

	#galeria img{
		width: 100%;
	}

	#galeria a{
		pointer-events: none;
	}

	#botao-menu-mobile{
		width: 12%;
	}

}



