@font-face {
     font-family: admiration;
     src: url('fonts/admiration.ttf');
}

/*MODIFICAÇÕES EM CLASSES DO LARAVEL E BOOTSTRAP*/

.card{
	box-shadow: 0 0 6px;
}

.card-header{
	background-color: #800;
	color: white;
}

.frases{
	font-family: admiration;
	font-size: 4em;
	position: absolute;
	right: 0;
	left: 0;
}

.nav-item{
	margin: auto 5px;
}

.navbar-laravel{
	background-color: #800;
}

.navbar-laravel a{
	text-decoration: none;
}

.dropdown-menu{
	position: absolute!important;
}

.btn-danger{
	background-color: #800!important;
}

.btn:hover{
	opacity: 0.9;
	transition: .2s ease-in-out;
}

/*################################################*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

/*CLASSES*/

.espacamento-bloco{
	margin: 0 0 3% 0!important;
}

.btn-red{
	background-color: #660000;
	color: white;
}

.btn-red:hover{
	color: white;
}

#btn-mudar-avaliacao{
	color: #800;
	cursor: pointer;
	font-weight: bold;
}

.categoria{
	float: left;
	text-align: center;
	width: 22%;
	box-shadow: 0px 0px 10px;
    padding: 1% 1.5% 1% 1.5%;
    margin: 1% 1.5%;
    text-decoration: none!important;
    color: black;
}

.categoria span{
	font-size: 30px;
	padding-top: 4%;
}

.categoria:hover{
	color: #800;
	transition: .1s;
	cursor: pointer;
}

.espacamento-icon{
	margin: auto 10px;
}

.anuncio{
	float: left;
    box-shadow: 0px 0px 10px;
    padding: 1% 1.5% 1% 1.5%;
    margin: 1.5% 1.5%;
    width: 22%;
    border-radius: 2%;
    font-family: roboto;
    overflow: hidden;
}

.anuncio img, .anuncio-slider img{
	width: 100%;
    height: 150px;
	margin-bottom: 3%;
	border-radius: 2%;
}

.anuncio span{
	font-size: 0.85em;
}

.anuncio .btn{
	float: right;
}

.anuncio-slider{
    box-shadow: 0px 0px 10px;
    padding: 3% 3.5% 3% 3.5%;
    margin: 1.5% 1.5%;
    border-radius: 2%;
    font-family: roboto;
    overflow: hidden;
}

.anuncio-detalhado{
	height: 100%;
}

.anuncio-grande img{
	width: 300px;
	height: 250px;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0 0 5px;
    padding: 2%;
}

.anuncio-grande .btn{
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.anuncio-grande .dados{
	position: absolute;
	bottom: 0;
    left: 10px;
}

.anuncio-grande .descricao{
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.espacamento-linha{
	margin: 4% 0;
}

.espacamento{
	margin: 2% 0;
}

.anuncio-detalhado img{
    width: 350px;
    height: 350px;
}

.fa-star{
	font-size: 30px;
}

footer{
	padding: 2% 0;
	background-color: #660000;
	color: white;
	position: absolute;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	overflow:hidden;
  	z-index: 9999;
}

.imagem-edicao{
	float: left;
	border: 1px solid black;
	margin: 1% 0.5%;
}

.imagem-edicao img{
	width: 100px;
	height: 100px;
}

.imagem-edicao i{
	position: absolute;
	font-size: 20px;
}

.imagem-edicao i:hover{
	cursor: pointer;
	color: #CD5C5C;
	transition: 0.2s;
	z-index: 9999999;
}

.informacoes{
	text-align: center;
	padding: 0 2%;
}

.item img{
	height: 150px!important;
}

.bloqueado{
	opacity: 0.75;
    pointer-events: none;
}

.link-paginacao{
	margin: 3% 0;
    height: 0;
}

.logo{
	font-size: 1.2em;
}

.msg-box{
	width: 35%;
	border: 1px solid black;
	padding: 2%;
    border-radius: 10%;
    box-shadow: 0 0 3px;
}

.titulo-inline{
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px;
}

.usuario-conversa{
	cursor: pointer;
}
/*################################################*/

/*IDs*/

#frases-div{
	height: 120px;
}

#mensagens{
	height: 350px;
	overflow: scroll;
	overflow-x: hidden;
}

#result{
	border-radius: 10%;
	padding: 3%;
    margin: 2% 0;
}

/*################################################*/

/*BREAKPOINTS*/

@media (max-width: 980px){
	.categoria{
		width: 92%;
		margin: 4% 4%;
	}

	.anuncio{
		width: 100%;
		margin: 4% 0;
		padding: 5%;
	}

	.anuncio-grande .dados{
		position: initial;
	}

	.anuncio-grande img{
		width: 100%;
	}

	.anuncio-grande h2{
		margin-top: 2%;
	}

	.espacamento-linha{
		margin: 15% 0;
	}

	.navbar-nav{
		flex-direction: row
	}
}

/*################################################*/